<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>PE - Poll</title>
  <meta name="HandheldFriendly" content="True" />
   <noscript>
      <meta http-equiv="refresh" content="5;url="""
    </noscript>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="main.css">
</head>
<nav> {{> nav }}</nav>
<body class="{{template}}">
  <div class="container">
    {{{body}}}
  </div>
  {{> footer}}
<script src="script.js"></script>
</body>
</html>